.partners {
  &__content {
    margin-top: 150px;
    h2 {
      margin-top: 100px;
      color: #fff;
      font-family: "Open Sans Condensed", sans-serif;
      font-weight: 300;
      font-size: 48px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      text-align: center;
    }
  }
}
